.qb_w_100 {
    width: 100%;
}

.qb_green {
    color: green;
}

.qb_red {
    color: red;
}

.qb_a_f_size {
    font-size: 15px;
}

.qb_m_auto {
    margin: 0% !important;
    padding: 0% !important;
}

.qb_m_0 {
    margin: 0% !important;
    padding: 0% !important;
}

.qb_m_10 {
    margin: 10px;
}

.qb_mr_15 {
    margin-right: 15px;
}

.qb_mb_20 {
    margin-bottom: 20px;
}

.qb_mt_15 {
    margin-top: 15px;
}
.qb_mt_5 {
    margin-top: 5px;
}

.qb_m_tb_20 {
    margin: 20px 0;
}

.qb_f_bold {
    font-weight: bold;
}

.qb_c_pointer {
    cursor: pointer;
}

.qb_d_none {
    display: none;
}

.qb_d_block {
    display: block;
}

.qb_f_right {
    float: right;
}

.qb_d_flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.qb_text_center {
    text-align: center;
}
.qb_text_right {
    text-align: right;
}

.qb_text_left {
    text-align: left;
}