/* ADD QUESTIONS */
.qb_close_dropdown {
    display: none;
}
.qb_add_questions_hidden {
    display: none;
}
.qb_q_number_content .qb_question_content .qb_add_questions .qb_q_search_content {
    background-color: white;
    border: 1px solid #8c8f94;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 10px;
}
.qb_q_number_content .qb_question_content .qb_add_questions .qb_q_search_content .qb_q_options_div .qb_q_options {
    visibility: hidden;
    transition: .1s ease;
}
.qb_q_number_content .qb_question_content .qb_add_questions .qb_q_search_content .qb_q_options_div:hover {
    font-weight: bold;
    cursor: pointer;
}