
#qb-question-row {
    margin: 10px 0;
}

.question_col , .question_col label {
    margin: 10px 0;
}

.question_col input {
    margin: 0 1px !important;
}

.qb_question__field,
#qb_correct_field ,
#qb_question_description_field {
    /* margin: 0 5px; */
    padding: 10px;
}

#qb-question-third-row select ,
#qb-question-description-row textarea {
    margin: 10px 0;
}

#qb-question-third-row,
.qb-question-description-row ,
.question_col {
    flex-direction: column;
    display: flex;
    width: 100%;
}


